.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100vh;
  width: 100vw;
}

.header {
  display: grid;
  grid-template-rows: 0.5fr 5fr;
  height: 100%;
  overflow: auto;
  width: 100%;
}

.aside {
  overflow: auto;
}

.section {
  height: 100%;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.list {
  align-items: center;
  display: grid;
  gap: 50px;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
}
