.main {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  height: 100vh;
}

.header {
  height: 100%;
  overflow: auto;
}

.section {
  height: 100%;
  overflow: auto;
}
